<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="static/styles/navbar.css">
        <link rel="stylesheet" type="text/css" href="static/styles/landing_page.css">
        <link rel="stylesheet" type="text/css" href="static/styles/footer.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <title>Home page</title>
    </head>
    
    <header class="header">
        <a href="#" class="logo">Logo</a>
    
        <nav class="navbar">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login_route') }}">Log In</a>
            <a href="{{ url_for( 'view_booking')}}">Book Online</a>
            <a href="{{ url_for('location') }}">Our location</a>
            <a href="{{ url_for('contact') }}">Contact</a>
        </nav>
    </header>
<body>
    <p>
        This is a portfolio project that I was working on so as to improve my skills in
        Software Engineering.
        The applications I used to make this were HTML, CSS, Python, Jinja, Flask and Javascript.
        If you have any enquiries about the project, feel free to contact me on this
        email: sknsammie10@gmail.com

        Here is the directory of the Github URL:
        https://github.com/KayongoYongo/mama-fua-website
    </p>
</body>
</html>