<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/styles/navbar.css">
    <link rel="stylesheet" type="text/css" href="static/styles/user_dashboard.css">
    <link rel="stylesheet" type="text/css" href="static/styles/footer.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Admin Dashboard</title>
</head>

<header class="header">
    <a href="#" class="logo">Logo</a>

    <nav class="navbar">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('about')}}">About</a>
        <a href="{{ url_for('location') }}">Our location</a>
        <a href="{{ url_for('contact') }}">Contact</a>
    </nav>
</header>

<body>
    <h1>Admin Dashboard</h1>
    <h2>Welcome {{user.first_name}}</h2>
    <h1>Details:</h1>
    <br>
    <p>Email: {{ user.email }}</p>
    <br>
    <p>Phone Number: {{ user.phone_number }} </p>
    <br>
    <p>User ID: {{ user.id }} </p>
    <br>
    <form method="POST" action="{{ url_for('logout') }}">
        <button type ="submit" class="btn" name ="log_out" id = "log_out" > Log Out </button>
    </form>
    <br> 
    <form method="POST" action="{{ url_for('view_user_bookings') }}">
        <button type ="submit" class="btn" name ="view_booking" id = "view_booking" > View Bookings </button>
    </form>

</body>

</html>