<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/styles/navbar.css">
    <link rel="stylesheet" type="text/css" href="static/styles/user_dashboard.css">
    <link rel="stylesheet" type="text/css" href="static/styles/footer.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Booking Dashboard</title>
</head>

<header class="header">
    <a href="#" class="logo">Logo</a>

    <nav class="navbar">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('about')}}">About</a>
        <a href="{{ url_for('location') }}">Our location</a>
        <a href="{{ url_for('contact') }}">Contact</a>
    </nav>
</header>

<body>
    <h1>Booking Dashboard</h1>
    <div class="form-booking">
        
    <h2>Welcome {{user.first_name}}</h2>
    <form method="POST" action="{{ url_for('view_user_bookings') }}">
        <h2>Search bookings status:</h2>
            <select id="status" name="status" class="status">
                <option value="Pending">Pending</option>
                <option value="In progress">In progress</option>
                <option value="Delivered">Delivered</option>
            </select>
            <button type ="submit" class="btn" name ="search" id = "search" > Search </button>
    </form>

    <form method="POST" action="{{ url_for('send_email') }}">
        <h2>Search bookings status:</h2>
            <input type="text" name="recipient_email" id="recipient_email" class="recipient_email" placeholder="recipient email">
 
        <button type ="submit" class="btn" name ="updateUser" id = "updateUser" > Update user </button>
    </form>

    <form method="POST" action="{{ url_for('update_bookings') }}">
        <h2>Update booking by entering ID:</h2>
            <input type="text" name="bookingID" id="bookingID" class="bookingID" placeholder="Booking ID">

        <button type ="submit" class="btn" name ="updateBooking" id = "updateBooking" > Update Booking </button>

    </div>
        <table>
            <tr>
                <th>Booking ID</th>
                <th>Email</th>
                <th>Created at</th>
                <th>Pick up date</th>
                <th>Pick up time</th>
                <th>Delivery Time</th>
                <th>Expected date</th>
                <th>Location</th>
                <th>Status</th>
            </tr>           
            {% for booking in bookings %}
            <tr>        
                <td>{{ booking.id }}</td>
                <td>{{ booking.email }}</td>
                <td>{{ booking.created_at }}</td>
                <td>{{ booking.pickup_date }}</td>
                <td>{{ booking.pickup_time }}</td>
                <td>{{ booking.delivery_time }}</td>
                <td contenteditable="true">
                    <input type="date" id="datePicker" name="datePicker" oninput="disableWeekends(this)">
                    <script src="static/javascript/disableWeekends.js"></script>
                    <script src="static/javascript/checkDate.js"></script>
                    <script src="static/javascript/minimumDate.js"></script>
                    <script src="static/javascript/maxDate.js"></script>
                </td>
                <td>{{ booking.location }}</td>
                <td contenteditable="true">
                    <select id="status" name="status">
                        <option value="Pending">Pending</option>
                        <option value="In progress">In progress</option>
                        <option value="Delivered">Delivered</option>
                    </select>
                </td>
            </tr>
            {% endfor %}
        </table>
    </form>
</body>

</html>